[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/run-clang-format"]
	path = external/run-clang-format
	url = https://github.com/Sarcasm/run-clang-format.git
